// PARTIALS
@import "partials/_reset.scss";

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

// COLORS
$darkclouds: #3c4b4f;
$deepnight: #232d33;
$concrete: #95a5a6;
$inverted-text-color: #ecf0f1;
$bg-color: #ecf0f1;
$primary-color: #3498db;
$secondary-color: #ffbd44;

// RESPONSIVE
$mobile-width: 400px;
$tablet-width: 540px;
$desktop-width: 800px;

// RESPONSIVE MIXINS
@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// MENU STYLING MIXINS
@mixin menu-styling-mobile {
  position: fixed;
  bottom: 0px;
  width: 100%;
  ul {
    li {
      background-color: $darkclouds;
      float: left;
      color: $inverted-text-color;
      width: 25%;
      text-align: center;
      display: inline-block;
      padding: 20px 0px 15px 0px;
      text-transform: lowercase;
    }
  }
  @content;
}

@mixin menu-styling-desktop ($white-space-top, $white-space-bottom, $menu-item-whitespace) {
  ul {
    @media (max-width: #{$desktop-width + 50px}) {
      li:first-child {
        margin-left: 20px;
      }
      li:last-child {
        margin-right: 20px;
      }
    }
    .menu-items {
      float: right;
      li {
        padding: 0px 0px 0px $menu-item-whitespace;
        a {
          font-size: 15px;
          text-transform: uppercase;
          letter-spacing: 0.075em;
          font-weight: 400;
          position: relative;
          color: $darkclouds;
          text-decoration: none;
          -webkit-transition: all  0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -8px;
            left: 0;
            background-color: $primary-color;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
          &:hover {
            color: $deepnight;
          }
          &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }
    }
    margin: $white-space-top auto $white-space-bottom auto;
  }
  @content;
}

body {
  background-color: $bg-color;
  font-family: 'Open Sans', 'Roboto', sans-serif;

}

.menu {
  // SCREEN SIZE DEPENDENT .menu STYLING
  @include mobile {
    @include menu-styling-mobile {
      ul li:last-child {
        i {
          display: none;
        }
      }
    }
  }
  @include tablet {
    width: $tablet-width;
    margin: auto;
    @include menu-styling-mobile {
      ul li:last-child {
        i {
          display: none;
        }
      }
    }
  }
  @include desktop {
    width: $desktop-width;
    margin: auto;
    @include menu-styling-desktop (62px, 100px, 45px) {
    }
  }
  svg.logo {
    display: inline-block;
    width: 40px;
    position: relative;
    bottom: 5px;
  }
  // GLOBAL .menu STYLING
  ul {
  	list-style-type: none;
    display: block;
    li {
    	display: inline-block;
    }
    .menu-items {
      i {
        font-size: 0.85em;
        margin-left: 5px;
        position: relative;
        bottom: 1px;
        font-weight: 700;
      }
    }
  }
}

.deck {
  @include tablet {
    width: $tablet-width;
    margin: auto;
  }
  @include desktop {
    width: $desktop-width;
    margin: auto;
  }
  ul {
    li {
      h2 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
        font-size: 36px;
        color: $darkclouds;
        &:before {
          content: "# ";
          color: $concrete;
          font-weight: 300;

        }
      }
      img {
        width: 100%;
      }
    }
  }
}

.controls {
  @include desktop {
    width: $desktop-width;
    margin: auto;
  }
  @include tablet {
    width: $tablet-width;
    margin: auto;
  }
  .nav {
    li {
      display: inline;
    }
  }
}
